---
import { Image } from "astro:assets"
import type { Language } from "types"
import { useTranslations } from "i18n"
import profileImg from "assets/images/ronaldo-santiago.png"
import Section from "components/section.astro"

const { lang } = Astro.params
const t = useTranslations(lang as Language)
---

<Section title={t("about-short.title")}>
  <div class="row">
    <Image
      src={profileImg}
      class="thumbnail"
      alt="Ronaldo"
      width={75}
      height={75}
    />
    <p>{t("about-short.description")}</p>
  </div>
</Section>
