---
import type { Language } from "types"
import { useTranslations } from "i18n"

const { lang } = Astro.params
const t = useTranslations(lang as Language)
---

<section style="padding-top: 2rem;">
  <a onclick="history.back()">[[{t("nav.back")}]]</a>
  <hr />
</section>
