---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="menu-section">
  <div class="section-toggle">
    <span class="folder-icon" />
    {title}
  </div>
  <ul class="section-content">
    <slot />
  </ul>
</div>

<style>
  .section-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    color: #d8a657;
  }

  .section-toggle.collapsed .folder-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4.616 19q-.691 0-1.153-.462T3 17.384V6.616q0-.691.463-1.153T4.615 5h4.31q.323 0 .628.13q.305.132.522.349L11.596 7h7.789q.69 0 1.153.463T21 8.616v8.769q0 .69-.462 1.153T19.385 19z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .folder-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h5.175q.4 0 .763.15t.637.425L12 6h9q.425 0 .713.288T22 7t-.288.713T21 8H7.85q-1.55 0-2.7.975T4 11.45V18l1.975-6.575q.2-.65.738-1.037T7.9 10h12.9q1.025 0 1.613.813t.312 1.762l-1.8 6q-.2.65-.737 1.038T19 20z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  
  .menu-section {
    margin: 0;
    padding: 0;
  }
  .menu-section ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .section-content {
    max-height: 1000px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    > li {
      margin: 0;
      padding: 0;
      padding-left: 0.25rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    > li::before {
      content: '├';
      color: var(--border-color);
    }
    > li:last-child::before {
      content: '└';
    }
    > li > a {
      text-decoration: none;
      color: var(--text-color);
      font-weight: 500;
      border: none;
    }
  }

  .section-content ul li {
    margin: 0;
    line-height: 1.5;
  }
  
  .section-content.collapsed {
    max-height: 0;
  }
</style>

<script>
  // document.querySelectorAll('.section-toggle').forEach(toggle => {
  //   toggle.addEventListener('click', () => {
  //     toggle.classList.toggle('collapsed');
  //     const content = toggle.nextElementSibling;
  //     content?.classList.toggle('collapsed');
  //   });
  // });
</script>
