---
import type { Language } from "types"
import { useTranslations } from "i18n"
import Frontmatter from "./frontmatter.astro"

const { frontmatter, type, title, reading } = Astro.props
const { lang } = Astro.params
const t = useTranslations(lang as Language)
---

<header>
  <h1>{frontmatter?.title || title}</h1>
  {
    type === "blog" && (
      <Frontmatter lang={lang} frontmatter={frontmatter} reading={reading} />
    )
  }
</header>
