---
import Footer from "../components/footer.astro"
import HeaderBrand from "../components/header-brand.astro"
import Menu from "../components/menu.astro"
import "../styles/global.css"
const { title, paths, reading } = Astro.props
const { lang } = Astro.params
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="layout-grid">
      <HeaderBrand />
      <Menu paths={paths} />
      <main class="post-main">
        <slot />
      </main>
      <Footer reading={reading || "--"} />
    </div>
  </body>
</html>
